* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-areas: "header" "main";
    grid-template-rows: 57px auto;
    max-width: 100vw;
}

header {
    background-color: peachpuff;
    grid-area: header;
    display: grid;
    grid-template-areas: "logo nav";
    grid-template-columns: 1fr 3fr;
}

.header__logo {
    grid-area: logo;
    /* si quieres centrar la imagen */
    display: grid;
    justify-items: center;
}

.header__logo img {
    height: 90%;
}

nav {
    grid-area: nav;
}

.nav {
    height: 100%;
    display: flex;
    justify-content: space-around;
}

.nav li {
    display: inline-block;
    align-self: center;
}

main {
    grid-area: main;
    display: grid;
    grid-template-areas: "boxes section";
    grid-template-columns: 1fr 3fr;
}

.main__boxes {
    grid-area: boxes;
    background-color: #A556CC;
    display: grid;
    justify-content: center;
}

.main__boxes-item {
    width: 150px;
    height: 150px;
    margin: 10px;
    border-radius: 8px;
    background-color: cornflowerblue;
}

.main__section {
    grid-area: section;
    background-color: red;
    width: 100%;
}

.main__section-text {
    margin: 15px;
}

@media (max-width: 600px) {
    main {
        grid-template-areas: "boxes" "section";
        grid-template-columns: 100%;
        grid-template-rows: 1fr 3fr;
    }
    .main__boxes {
        height: 180px;
        overflow-x: scroll;
    }
}